pandas
ruptures
matplotlib>=3.2.1
tensorboardX>=2.0
networkx>=2.4
h5py>=2.10.0
scikit-learn
tqdm>=4.46.0
scipy>1.4
tensorflow>1.15.2
numpy>1.18
docopt>=0.6.2
gensim>=3.7.1
torch>=1.5.1
transformers>=4.1.1
nltk>=3.5
simple-elmo>=0.6.0
stanza>=1.1.1
wordfreq>=2.3.2